<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div>
    <div class="container">
        <h1 class="text-center">
            Hoe zit dat nu juridisch?
        </h1>
        <p>
            De juridische kant van het vakgebied grime en make- up blijft meestal onbehandeld in opleidingen. 
            Deze pagina geeft u een goede eerste indruk in de diepgaande lesstof bij Whiz en is interessante stof voor een ieder die al in het vakgebied werkzaam is.
        </p>
        <h2 class="text-center">
            Wat zijn onze rechten en plichten?
        </h2>
        <p>
            In het verband van rechten en plichten zijn er meerdere onderwerpen die we hier zullen aankaarten;
            <ul>
                <li>Wat is een professional?</li>
                <li>Wettelijke Aansprakelijkheid</li>
                <li>Samenwerken met andere grimeurs; Hoe regel je dat het beste</li>
            </ul>
        </p>
        <h3>Wat is een professional</h3>
        <p>
            Een profesional is iemand die meer geld vraagt dan de materiaalkosten. Heeft dus niks te maken met je niveau.

            Zodra je meer vraagt dan de werkelijke materiaalkosten wordt je wettelijk gezien als een professional en val je dus onder bedrijfsaansprakelijkheid, 
            beroepsaansprakelijkheid en productaansprakelijkheid. Deze drie worden later verder toegelicht.
        </p>
        <h3>Wettelijke Aansprakelijkheid</h3>
        <p>
            Als je niet ingeschreven staat maar wel bedrijfsmatig werkt ben je een natuurlijk persoon (een freelancer is dus een natuurlijk persoon).
            Een eenmanszaak is een rechtspersoon; Bij een eenmanszaak zijn het privé vermogen en het zakelijk vermogen met 
            elkaar verweven en dat geldt ook voor de hoofdelijke aansprakelijkheid.
            Dit wil zeggen dat je persoonlijk (hoofdelijk) aansprakelijk bent bij het uitoefenen van je bedrijf.
            Bij schade ben je dus zelf verantwoordelijk.
        </p>
        <p>
            Bij een bvba bijvoorbeeld geldt het volgende:
            In een bvba zijn de vennoten alleen maar aansprakelijk voor het vennootschappelijk vermogen. 
            Het kapitaal is vastgelegd in zowel geregistreerde als niet vrijverhandelbare aandelen.
            Hier is dus privé en bedrijfskapitaal gescheiden.
        </p>
        <p>
            De meeste grimeurs zullen dus hoofdelijk aansprakelijk zijn.
            Daarvoor dien je jezelf te verzekeren met een bedrijfsaansprakelijkheidsverzekering!
            De familiale verzekering zal schade veroorzaakt bij klanten absoluut niet dekken.
            </p>
        <p>
            <strong>Let op:</strong>Wettelijke aansprakelijkheidsverzekering is weer iets anders; deze heeft uitsluitend met de auto te maken en is verplicht. Een familiale verzekering is niet verplicht maar wel raadzaam, 
            zeker als je kinderen hebt die op straat spelen, maar dekt geen schade bij klanten. Voor dit moet je een bedrijfsaansprakelijkheidsverzekering hebben.
        </p>
        <h4>
            Kunstenaarskaart België
        </h4>
        <p>
            De kunstenaarskaart, ook wel bekent als de KVR (Kleine vergoedings regeling), werkt niet als vervanging voor een bedrijfsaansprakelijkheidsverzekering.
            <ol>
                <li>
                    Omdat je dat wettelijk gezien een vrijwilligersvergoeding ontvangt en dat weer niet wordt gezien als werk. 
                    Je bent alleen verzekerd als de klant besluit je onder de evenementenverzekering als vrijwilliger te zetten.
                </li>
                <li>
                    Omdat je wettelijk gezien niet mag grimeren op een kunstenaarskaart.
                    Ze worden uitgegeven in de veronderstelling dat jij je aan de regels die erbij geleverd worden houd.
                    Kindergrime en andere bodyart staan op de lijst van activiteiten die je er niet op mag doen. Dus ook al heb je hem aangevraagd voor kindergrime, 
                    je mag hem er niet voor gebruiken. En dus ben je ook niet verzekerd op je eigen bedrijfsverzekering.
                </li>
            </ol>
        </p>
        <h4>Met welke soorten aansprakelijkheid heb je als professional te maken</h4>
       <p>
           <ul>
               <li>Bedrijfsaansprakelijkheid</li>
               <li>Productaansprakelijkheid</li>
               <li>Beroepsaansprakelijkheid</li>
           </ul>
       </p>
       <h5>1). Bedrijfsaansprakelijkheid</h5>
            <p>
                Door mensen te waarschuwen voor sommige risico's vooraf kun je jezelf indekken.
                Sommige zaken kun je in de algemene voorwaarden al vastleggen en indekken.
            </p>
            <p>
                Voorbeelden voor waar je persoonlijk verantwoordelijk bent:
                <ul>
                    <li>Penseel in een oog.</li>
                    <li>Het geschminkte kind komt in contact met water en de verf loopt van het gezichtje op een dure kanten bloesje. </li>
                    <li>Je verfwater gaat over het dure tapijt.</li>
                    <li>Veel bedrijven hebben dure kunst staan/ hangen. Je stoot per ongeluk een duur beeld om met je trolley en het gaat kapot. </li>
                </ul>
                Dit zijn de risico's op schade die wij lopen tijdens het uitoefenen van onze werkzaamheden.
            </p>
        <h6>Algemene voorwaarden</h6>
        <p>
            Bijvoorbeeld bij het kanten bloesje. Als je in de algemene voorwaarden zet dat je niet verantwoordelijk bent voor schade ontstaan door hevig zweten of vocht dat in contact komt met het kind, dan is dat ingedekt.
            Zet ook in die voorwaarde dat je geen dubbel functie als oppas hebt zodat schade gemaakt door kinderen niet op jou verhaalt kan worden.
            Of bijvoorbeeld dat je tijdens een verjaardagsfeestje niet verantwoordelijk bent voor allergische reacties bij de gasten die zonder ouders aanwezig zijn, maar dat de gastvrouw dat is.
        </p>
        <p>
            Verder mag je er zeker zaken in zetten om jezelf in te dekken of de job gemakkelijker te maken.
            Zoals bijvoorbeeld een overkapping tegen de zon of een plaats binnen bij 16 graden of minder en dat je licht nodig hebt in een donkere ruimte.
        </p>
        <p>
            Stuur je voorwaarden met de opdrachtbevestiging mee naar je klant. Het enkel op je website vermelden is niet voldoende.
            Zet in je contract een vinkje akkoord met de algemene voorwaarden.
        </p>
        <p>
            Bepaalde zaken mag je niet in je algemene voorwaarde vermelden, die kun je hier vinden: http://www.wetrecht.nl/algemene-voorwaarden-de-blauwe-lijst/
        </p>
    </div>

</div>