<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/resources.css" rel="stylesheet" type="text/css" />

<div class="sectionFaq">
    <div class="container">
        <div ><h2 class="text-center">Vaak gestelde vragen</h2></div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ1" aria-expanded="false" aria-controls="collapseQ1">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ1">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ2" aria-expanded="false" aria-controls="collapseQ2">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ2">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ3" aria-expanded="false" aria-controls="collapseQ3">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ3">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ4" aria-expanded="false" aria-controls="collapseQ4">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ3">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ4" aria-expanded="false" aria-controls="collapseQ4">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ3">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ5" aria-expanded="false" aria-controls="collapseQ5">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ5">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body" data-toggle="collapse" data-target="#collapseQ6" aria-expanded="false" aria-controls="collapseQ6">
                <h4 class="cardhead">&nbsp;This is the question</h4>
                <div class="collapse" id="collapseQ6">
                    <div class="collapseContent">
                        <hr class="my-4" />
                        <p> this is the very long answer</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="sectionMid">
    <div class="container">
        <div>
            <h2 class="text-center">Onze klanten geloven in ons</h2>
        </div>
    </div>
</div>
<div class="sectionReviews">
    <div class="container">
        <div>
            <h2 class="text-center">Reacties van onze studenten, klanten en collegas</h2>
        </div>
        <div class="card-deck ">
            <div class="card  review-card">
                <div class="card-body ">
                    <div class="quotemark">&#10077;</div>
                    <div class="card-text">
                        Pellentesque ultricies nibh nunc, ultricies rhoncus enim posuere sed.
                        Phasellus tempus eu enim accumsan iaculis. Etiam cursus efficitur enim,
                        sit amet lobortis metus aliquet consectetur. Aliquam est diam,
                        venenatis id bibendum eleifend, hendrerit at est. Ut eu nisi vitae
                        nulla suscipit euismod at non erat. Maecenas leo ex, venenatis et mi quis,
                        eleifend aliquet felis. Vestibulum nec venenatis libero. Vivamus at ex libero.
                    </div>
                </div>
                <div class="card-footer review-footer">
                    <p class="text-center reviewer-name">Derpimus Maximus</p>
                    <p class="text-center "><span class="review-role">cursist</span> <span class="review-course">special fx</span></p>
                </div>
            </div>
            <div class="card review-card">
                <div class="card-body">
                    <div class="quotemark">&#10077;</div>
                    <div class="card-text">
                        Pellentesque ultricies nibh nunc, ultricies rhoncus enim posuere sed.
                        Phasellus tempus eu enim accumsan iaculis. Etiam cursus efficitur enim,
                        sit amet lobortis metus aliquet consectetur. Aliquam est diam,
                        venenatis id bibendum eleifend, hendrerit at est. Ut eu nisi vitae
                        nulla suscipit euismod at non erat. Maecenas leo ex, venenatis et mi quis,
                        eleifend aliquet felis. Vestibulum nec venenatis libero. Vivamus at ex libero.
                    </div>
                </div>
                <div class="card-footer review-footer">
                    <p class="text-center reviewer-name">Derpimus Maximus</p>
                    <p class="text-center "><span class="review-role">cursist</span> <span class="review-course">special fx</span></p>
                </div>
            </div>
            <div class="card review-card">
                <div class="card-body">
                    <div class="quotemark">&#10077;</div>
                    <div class="card-text">
                        Pellentesque ultricies nibh nunc, ultricies rhoncus enim posuere sed.
                        Phasellus tempus eu enim accumsan iaculis. Etiam cursus efficitur enim,
                        sit amet lobortis metus aliquet consectetur. Aliquam est diam,
                        venenatis id bibendum eleifend, hendrerit at est. Ut eu nisi vitae
                        nulla suscipit euismod at non erat. Maecenas leo ex, venenatis et mi quis,
                        eleifend aliquet felis. Vestibulum nec venenatis libero. Vivamus at ex libero.
                    </div>
                </div>
                <div class="card-footer review-footer">
                    <p class="text-center reviewer-name">Derpimus Maximus</p>
                    <p class="text-center "><span class="review-role">cursist</span> <span class="review-course">special fx</span></p>
                </div>
            </div>
            <div class="card  review-card ">
                <div class="card-body">
                    <div class="quotemark">&#10077;</div>
                    <div class="card-text">
                        Pellentesque ultricies nibh nunc, ultricies rhoncus enim posuere sed.
                        Phasellus tempus eu enim accumsan iaculis. Etiam cursus efficitur enim,
                        sit amet lobortis metus aliquet consectetur. Aliquam est diam,
                        venenatis id bibendum eleifend, hendrerit at est. Ut eu nisi vitae
                        nulla suscipit euismod at non erat. Maecenas leo ex, venenatis et mi quis,
                        eleifend aliquet felis. Vestibulum nec venenatis libero. Vivamus at ex libero.
                    </div>
                </div>
                <div class="card-footer review-footer">
                    <p class="text-center reviewer-name">Derpimus Maximus</p>
                    <p class="text-center "><span class="review-role">cursist</span> <span class="review-course">special fx</span></p>
                </div>
            </div>
        </div>
    </div>
</div>