<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="Bryant Suiskens"/>
    <title>@ViewData["Title"] - WhizMA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top">
        <nav  id="custom-bootstrap-menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom shadow pb-3  justify-content-between">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img width="160" src="/Resources/General/logoWhizFaded.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 navbar-item-custom justify-content-md-center justify-content-start">
                        <li class="nav-item navbar-item-spacing navbar-hoverline">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Proefles</a>
                        </li>
                        <li class="nav-item dropdown navbar-item-spacing navbar-hoverline">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="resourcesDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hulpbronnen
                            </a>
                            <div class="dropdown-menu navbar-custom  " aria-labelledby="resourcesDropDown">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Resources" asp-action="FAQ">FAQ</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Resources" asp-action="Index">Section2</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Resources" asp-action="Index">Section3</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown navbar-item-spacing navbar-hoverline">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="lessenDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lessen
                            </a>
                            <div class="dropdown-menu navbar-custom  " aria-labelledby="resourcesDropDown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Cursussen">Cursussen</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Bundles">Bundels</a>
                            </div>
                        </li>
                        <li class="nav-item navbar-item-spacing navbar-hoverline">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  text-muted shadow-lg mb-0 ">
        <div class="container mb-0">
            &copy; 2020 - WhizMA - All rights reserved <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a><!--Hier moet nog een FB link komen-->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
