@using Microsoft.AspNetCore.Identity
@using WhizMA.Areas.Identity.Data
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<ul class="navbar-nav flex-grow-1 navbar-item-custom justify-content-md-center justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item navbar-item-spacing navbar-hoverline">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profiel</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
