@model WhizMA.ViewModels.CursusCreateViewModel

@{
    ViewData["Title"] = "Create";
}

    <div class="container">
        <h1>Create</h1>

        <h4>Cursus</h4>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Cursus.Naam" class="control-label"></label>
                        <input asp-for="Cursus.Naam" class="form-control" />
                        <span asp-validation-for="Cursus.Naam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cursus.StandaardPrijs" class="control-label"></label>
                        <input asp-for="Cursus.StandaardPrijs" class="form-control" />
                        <span asp-validation-for="Cursus.StandaardPrijs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cursus.HuidigePrijs" class="control-label"></label>
                        <input asp-for="Cursus.HuidigePrijs" class="form-control" />
                        <span asp-validation-for="Cursus.HuidigePrijs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CursusBeschrijving.InhoudBeschrijving" class="control-label"></label>
                        <textarea asp-for="CursusBeschrijving.InhoudBeschrijving" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="CursusBeschrijving.VoorWieBeschrijving" class="control-label"></label>
                        <textarea asp-for="CursusBeschrijving.VoorWieBeschrijving" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="CursusBeschrijving.CertificaatBeschrijving" class="control-label"></label>
                        <textarea asp-for="CursusBeschrijving.CertificaatBeschrijving" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cursus.Afbeelding" class="control-label"></label>
                        <input asp-for="Cursus.Afbeelding" class="form-control" />
                        <span asp-validation-for="Cursus.Afbeelding" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Cursus.Gecertificieerd" /> @Html.DisplayNameFor(model => model.Cursus.Gecertificieerd)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cursus.BeschikbaarheidInMaanden" class="control-label"></label>
                        <input asp-for="Cursus.BeschikbaarheidInMaanden" class="form-control" />
                        <span asp-validation-for="Cursus.BeschikbaarheidInMaanden" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cursus.DocentID" class="control-label"></label>
                        <select asp-for="Cursus.DocentID" class="form-control" asp-items="ViewBag.DocentID"></select>
                    </div>
                    <div class="form-group">
                        <select asp-for="GeselecteerdeLessen" asp-items="Model.LessenLijst"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
