@model WhizMA.Models.Cursus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cursus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CursusID" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandaardPrijs" class="control-label"></label>
                <input asp-for="StandaardPrijs" class="form-control" />
                <span asp-validation-for="StandaardPrijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HuidigePrijs" class="control-label"></label>
                <input asp-for="HuidigePrijs" class="form-control" />
                <span asp-validation-for="HuidigePrijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursusBeschrijvingID" class="control-label"></label>
                <select asp-for="CursusBeschrijvingID" class="form-control" asp-items="ViewBag.CursusBeschrijvingID"></select>
                <span asp-validation-for="CursusBeschrijvingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afbeelding" class="control-label"></label>
                <input asp-for="Afbeelding" class="form-control" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gecertificieerd" /> @Html.DisplayNameFor(model => model.Gecertificieerd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BeschikbaarheidInMaanden" class="control-label"></label>
                <input asp-for="BeschikbaarheidInMaanden" class="form-control" />
                <span asp-validation-for="BeschikbaarheidInMaanden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocentID" class="control-label"></label>
                <select asp-for="DocentID" class="form-control" asp-items="ViewBag.DocentID"></select>
                <span asp-validation-for="DocentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
