<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/resources.css" rel="stylesheet" type="text/css" />

<div class="sectionFaq">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="cardhead">This is the question</h4>
                <hr class="my-4" />
                <div>this is the very long answer</div>
            </div>
        </div>
    </div>
</div>