@model WhizMA.ViewModels.BundelCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bundel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bundel.Naam" class="control-label"></label>
                <input asp-for="Bundel.Naam" class="form-control" />
                <span asp-validation-for="Bundel.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundelBeschrijving.BundelInhoudsBeschrijving" class="control-label"></label>
                <textarea asp-for="BundelBeschrijving.BundelInhoudsBeschrijving" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Bundel.Afbeelding" class="control-label"></label>
                <input asp-for="Bundel.Afbeelding" class="form-control" />
                <span asp-validation-for="Bundel.Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bundel.StandaardPrijs" class="control-label"></label>
                <input asp-for="Bundel.StandaardPrijs" class="form-control" />
                <span asp-validation-for="Bundel.StandaardPrijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bundel.HuidigePrijs" class="control-label"></label>
                <input asp-for="Bundel.HuidigePrijs" class="form-control" />
                <span asp-validation-for="Bundel.HuidigePrijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="GeselecteerdeCursussen" asp-items="Model.CursusLijst"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
