body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.sectionCursus {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    padding-top: 2% !important;
    padding-bottom: 2% !important;
     /*Important tags zijn hier toegevoegd omdat anders het word overschreden door de style injectie*/
}
.sectionHeader {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(93, 188, 210, 1);
}
.sectionPrice {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #34849c;
}



.mainPrice {
    font-size: 1.2em;
}

.secondaryPrice {
    font-size: 0.9em;
}