.btn {
    outline: none !important;
    box-shadow: none !important;
}


.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

.card * {
    margin: 0px;
    padding: 0px;
}

.card-text {
    width:inherit;
    overflow: hidden;
    font-size: 0.85em;
    text-overflow: ellipsis;
    max-height: 60px;
}

.mainPrice {
    color: darkred;
}
.secondaryPrice {
    font-size: 0.9em;
}

.sectionHeader {
    background-image: linear-gradient( rgba(93, 188, 210, 0.8), rgba(93, 188, 210, 0.8) ), url(../Resources/General/WhizBackground.jpeg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}
.sectionCatalogue {
    background-color: white;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sectionSearchbar {
    background-color: #17a2b8;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
