@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/home.css" rel="stylesheet" type="text/css" />
<div class="section1">
    <div  class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h2>Leren vanuit je kot!</h2>
                <br />
                <button type="button" class="btn btn-login">Schrijf je nu in!</button>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container text-center">
        <h1>
            Online studies op gebied van make-up en grime<br />
            Whiz Makeup Academy
        </h1>
    </div>
</div>
<div class="section3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-right">
                PLACEHOLDER
            </div>
            <div class="col-sm-6 text-left">
                <h3>Titel van nieuws</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar porttitor diam tincidunt ornare. 
                    In hendrerit et orci eget dapibus. Etiam luctus nibh nunc, eu consectetur purus tempus sit amet. 
                    Maecenas efficitur tortor vel ultrices cursus. Pellentesque id suscipit dolor, eget porta velit. 
                    Nulla lorem nibh, pulvinar quis varius sed, ultrices sed dui. Cras tortor lacus, fermentum id nulla quis, 
                    viverra scelerisque dui. Nulla consequat sapien vestibulum, condimentum nulla a, hendrerit lacus. 
                    Praesent nec molestie tortor, non vehicula dui. Morbi interdum semper metus, vitae fermentum metus blandit a. 
                    Nullam at faucibus ex. Cras molestie velit molestie varius bibendum. Nunc convallis euismod mollis. 
                    Nullam aliquam leo metus, eu eleifend dolor molestie eu.
                    <br/>
                    Pellentesque ultricies nibh nunc, ultricies rhoncus enim posuere sed. 
                    Phasellus tempus eu enim accumsan iaculis. Etiam cursus efficitur enim, 
                    sit amet lobortis metus aliquet consectetur. Aliquam est diam, 
                    venenatis id bibendum eleifend, hendrerit at est. Ut eu nisi vitae 
                    nulla suscipit euismod at non erat. Maecenas leo ex, venenatis et mi quis, 
                    eleifend aliquet felis. Vestibulum nec venenatis libero. Vivamus at ex libero.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section1">
    <div class="container">
        <div class="row justify-content-center">
            <h1>
                Ontdek onze cursussen
            </h1>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card border-dark">
                    <img class="card-img-top" src="http://placehold.it/400x300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                    </div>
                </div>
                <div class="card border-dark">
                    <img class="card-img-top" src="http://placehold.it/400x300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card border-dark">
                    <img class="card-img-top" src="http://placehold.it/400x300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
